<option value="none">None</option>
<option value="w3-Red">Red</option>
<option value="w3-Pink">Pink</option>
<option value="w3-Purple">Purple</option>
<option value="w3-Deep-Purple">Deep-Purple</option>
<option value="w3-Indigo">Indigo</option>
<option value="w3-Blue">Blue</option>
<option value="w3-Light-Blue">Light-Blue</option>
<option value="w3-Cyan">Cyan</option>
<option value="w3-Teal">Teal</option>
<option value="w3-Green">Green</option>
<option value="w3-Light-Green">Light-Green</option>
<option value="w3-Lime">Lime</option>
<option value="w3-Yellow">Yellow</option>
<option value="w3-Amber">Amber</option>
<option value="w3-Orange">Orange</option>
<option value="w3-Deep-Orange">Deep-Orange</option>
<option value="w3-Blue-Gray">Blue-Gray</option>
<option value="w3-Brown">Brown</option>
<option value="w3-Dark-Gray">Dark-Gray</option>
