<html>
    <%- include head.ejs %>
    <body>
        <%- include navbar.ejs %>
        <div class="w3-container w3-blue">
                <h1 >Events</h1>
        </div>
        <%for(let i = 0; i < items.length;i++){%>
            <h1><%=items[i].title%></h1>
        <% } %>
    </body>

</html>