<html>
    <%- include head.ejs %>
    <body>
        <%- include navbar.ejs %>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Welcome <%-title%></h1>
                <p class="lead">This is a website using mvc</p>
            </div>
        </div>
    </body>

</html>