<html>
    <%- include head.ejs %>
    <body>
        <%- include navbar.ejs %>
        <div class="w3-container w3-blue">
                <h1 >Welcome <%-title%></h1>
                <h3>making scheduling easy for students</h3>
        </div>
    </body>

</html>