<html>
    <%- include head.ejs %>
    <body>
        <%- include navbar.ejs %>
        <div class="w3-container w3-blue">
                <h1 >Welcome <%-title%></h1>
                <p >This is a website using mvc</p>
        </div>
    </body>

</html>