<nav class="w3-bar w3-black">
  <a class="w3-bar-item w3-button" href="/categories">categories <span class="sr-only">(current)</span></a>
  <a class="w3-bar-item w3-button" href="#">Features</a>
  <a class="w3-bar-item w3-button" href="#">Pricing</a>
  <a class="w3-bar-item w3-button" href="#" >Disabled</a>
</nav>